.profile-container {
  text-align: center;
  padding: 20px;
}

.profile-photo {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.typing-container {
  font-size: 50px; /* Adjust the font size here */
  margin-bottom: 20px;
}

.typing-container-second {
  font-size: 30px; /* Adjust the font size for the second Typewriter */
  color: var(--heading-color); /* Color changes according to dark mode */
  margin-bottom: 20px;
}

/* Dark mode specific styles */
[data-theme="dark"] .typing-container-second {
  color: #ff0058; /* Red color in dark mode */
}

.fade-in-card {
  animation: fadeIn 1s ease-in-out;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.download-cv-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth background and transform transition */
}

.download-cv-button:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Slight scale on hover */
}

h3 {
  color: blue; /* Example style for h3 */
  font-size: 42px;
}

.fade-in-card p {
  font-size: 30px; /* Adjust the font size of the paragraph */
  line-height: 1.6; /* Example line height adjustment */
  margin-bottom: 20px; /* Added margin for spacing */
}

.social-links {
  margin: 50px;
  display: flex;
  justify-content: center;
  gap: 200px; /* Increased space between icons */
}

.social-icon {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 10px; /* Border radius */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transform and shadow transition */
}

.social-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow effect on hover */
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .typing-container {
    font-size: 40px; /* Adjust font size for smaller screens */
  }

  .typing-container-second {
    font-size: 24px; /* Smaller font size for the second Typewriter on mobile */
  }

  .social-links {
    flex-direction: column;
    gap: 50px; /* Reduced gap for smaller screens */
  }

  .social-icon {
    width: 80px; /* Smaller icon size for mobile */
    height: 80px; /* Smaller icon size for mobile */
  }
}
