.skills-container {
    border: 2px solid green;
    padding: 20px; /* Adjust padding if needed */
  }
  
  .section-title {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--heading-color);
  }
  
  .skills-category {
    margin-bottom: 20px;
    border: 1px solid violet; /* Border for each skills category */
    padding: 10px; /* Padding inside each category */
  }
  
  .skills-subtitle {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: var(--text-color);
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .skill-item {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    padding: 10px; /* Padding inside each skill item */
  }
  
  .skill-icon {
    font-size: 3em;
    margin-bottom: 10px;
    color: var(--text-color);
  }
  
  /* Add appropriate margin for responsive design */
  @media (max-width: 768px) {
    .skills-container {
      padding: 30px 20px;
    }
  
    .skills-list {
      flex-direction: column;
    }
  
    .skill-item {
      margin: 15px 0;
    }
  }
  